{ 
  "serverDomain" : "BDOMAIN", 
  "workerThreads" : 10, 
  "eventCapture": { 
    "localAddress" : ["INT_IP"], 
    "publicAddress" : "EXT_IP", 
    "http": { 
      "ports" : 80 
    }, 
    "https": { 
      "ports" : 443 
    }, 
    "smtp": { 
      "ports" : [25, 587] 
    }, 
    "smtps": { 
      "ports" : 465 
    }, 
    "ssl": {
        "certificateFiles" : [
            "/usr/local/collaborator/keys/privkey.pem",
            "/usr/local/collaborator/keys/cert.pem",
            "/usr/local/collaborator/keys/fullchain.pem" ]
    }
  }, 
  "polling" : { 
    "localAddress" : "INT_IP", 
    "publicAddress" : "EXT_IP", 
    "http": { 
      "port" : 9090 
    }, 
    "https": { 
      "port" : 9443 
    }, 
    "ssl": {
        "certificateFiles" : [
            "/usr/local/collaborator/keys/privkey.pem",
            "/usr/local/collaborator/keys/cert.pem",
            "/usr/local/collaborator/keys/fullchain.pem" ]
    }
  }, 
  "metrics": { 
    "path" : "jnaicmez8", 
  }, 
  "dns": { 
    "interfaces" : [{ 
      "name": "ns1.BDOMAIN", 
      "localAddress" : "INT_IP", 
      "publicAddress" : "EXT_IP" 
    }], 
    "ports" : 53
  }, 
  "logLevel" : "INFO" 
}
