[Unit]
Description=DNSMitm for Collaborator
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/collaborator/dnsmitm.py
User=root
Restart=on-failure
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target
